<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<div class="span12 well">
			<img src="assets/img/aboutLogo.png"  id = "aboutProjectLogo"/>
			</div>
			<dl>
				<dt id="aboutProjectTitle">
					The Books Bench Project
				</dt>
				<dd class="aboutProjectDescription">
					This application catalogs and tracks all of the technical books that Catalyst provides to the developers. The system allows checkout, returns, searches and reservations. 
				</dd>
				<dd class="aboutProjectDescription">
				This web application uses a single page application (SPA) model, incorporating existing JavaScript frameworks designed for the purpose.
				</dd>
				
			</dl>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 bordered" id="aboutFrontTech">			
			<h4>
				Front End Technologies
			</h4>
			<dl>
				<dt>
					BootStrap CSS 
				</dt>
				<dd>
					Used for the website layout
				</dd>
				<dt>
					Angular JS
				</dt>
				<dd>
					Used for data representation
				</dd>
				<dt>
					Single Page Web Application
				</dt>
				<dd>
					 "a web application or web site that fits on a single web page with the goal of providing a more fluid user experience akin to a desktop application."
				</dd>
			
			</dl>
		</div>
		<div class="span4 bordered" id="aboutBackTech">
		<h4>
				Backend, Testing and Database Technologies
			</h4>
		<dl>
				<dt>
					Java
				</dt>
				<dd>
					Used to create backend controllers and DAOs
				</dd>
				<dt>
					PosgreSQL
				</dt>
				<dd>
					Used as the database for book records
				</dd>
				
				<dt>
					Apache Tomcat
				</dt>
				<dd>
					Used as the web application's server
				</dd>
				
				<dt>
					Selenium
				</dt>
				<dd>
					Used for web testing.
				</dd>
				
				<dt>
					JMeter
				</dt>
				<dd>
					Used for web server response testing.
				</dd>
				
				<dt>
					Jasmine and PhantomJs
				</dt>
				<dd>
Used for angular-JS testing
				</dd>
				
				<dt>
					Jenkins
				</dt>
				<dd>
Used for testing coverage monitoring.
				</dd>
				
			</dl>
			
		</div>
		<div class="span4 bordered" id="aboutCreators">
			<h4>
				The Engineers
			</h4>
			<dl>
				<dt>
					Business Owner
				</dt>
				<dd>
					Brenton Pyl
				</dd>
				<dt>
					Backend Developer
				</dt>
				<dd>
					Katherine Root
				</dd>
				<dt>
					Frontend Developers
				</dt>
				<dd>
					David Boyle
				</dd>
				<dd>
					Julius Espinosa
				</dd>
				<dt>
					SDET
				</dt>
				<dd>
					Lori Johnson
				</dd>
				<dt>
					Server Administrator / Continous Integration Master	 
				</dt>
				<dd>
					Paul Wroe
				</dd>
				<dt>
					Database Administrator
				</dt>
				<dd>
					Margi Womack
				</dd>
			</dl>
		</div>
	</div>
</div>



<!-- <div class="container-fluid"> -->
<!-- 	<div class="row-fluid"> -->
<!-- 		<div class="span12"> -->
<!-- 			<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded" /> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="row-fluid"> -->
<!-- 		<div class="span4"> -->
<!-- 			<h3> -->
<!-- 				h3. Lorem ipsum dolor sit amet. -->
<!-- 			</h3> -->
<!-- 			<dl> -->
<!-- 				<dt> -->
<!-- 					Description lists -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					A description list is perfect for defining terms. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Euismod -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. -->
<!-- 				</dd> -->
<!-- 				<dd> -->
<!-- 					Donec id elit non mi porta gravida at eget metus. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Malesuada porta -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Etiam porta sem malesuada magna mollis euismod. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Felis euismod semper eget lacinia -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. -->
<!-- 				</dd> -->
<!-- 			</dl> -->
<!-- 		</div> -->
<!-- 		<div class="span4"> -->
<!-- 			<h3> -->
<!-- 				h3. Lorem ipsum dolor sit amet. -->
<!-- 			</h3> -->
<!-- 			<dl> -->
<!-- 				<dt> -->
<!-- 					Description lists -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					A description list is perfect for defining terms. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Euismod -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. -->
<!-- 				</dd> -->
<!-- 				<dd> -->
<!-- 					Donec id elit non mi porta gravida at eget metus. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Malesuada porta -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Etiam porta sem malesuada magna mollis euismod. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Felis euismod semper eget lacinia -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. -->
<!-- 				</dd> -->
<!-- 			</dl> -->
<!-- 		</div> -->
<!-- 		<div class="span4"> -->
<!-- 			<h3> -->
<!-- 				h3. Lorem ipsum dolor sit amet. -->
<!-- 			</h3> -->
<!-- 			<dl> -->
<!-- 				<dt> -->
<!-- 					Description lists -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					A description list is perfect for defining terms. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Euismod -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. -->
<!-- 				</dd> -->
<!-- 				<dd> -->
<!-- 					Donec id elit non mi porta gravida at eget metus. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Malesuada porta -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Etiam porta sem malesuada magna mollis euismod. -->
<!-- 				</dd> -->
<!-- 				<dt> -->
<!-- 					Felis euismod semper eget lacinia -->
<!-- 				</dt> -->
<!-- 				<dd> -->
<!-- 					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. -->
<!-- 				</dd> -->
<!-- 			</dl> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->

<!-- <div class="jumbotron"> -->
<!--         <center><img src="assets/img/aboutLogo.png"  id = "aboutProjectLogo"/></center> -->

        
<!-- </p> -->
<!--       </div> -->
<!-- <center> -->
<!-- <div class="row marketing"> -->

<!--         <div class="col-lg-6"> -->
<!--           <h4>Technology Behind Books</h4> -->
    
<!--       <strong>Backend</strong> : Java<br><br> -->
<!--           <strong>Frontend :</strong> -->
<!--           <br> -->
<!--        AngularJS<br> -->
<!--        Bootstrap CSS<br> -->
<!--    <br> -->
<!--           <strong>Testing Tools</strong> : <br> -->
<!--           JUnit - for Java<br> -->
<!--           JMeter - for the web app<br> -->
<!--           Selenium - for the web app<br> -->
<!--            <strong>Database </strong> : PostgreSQL<br> -->
<!--             <strong>Server </strong> : Apache Tomcat 7<br> -->
          
   

<!--             <hr> -->
<!--         </div> -->




<!--         <div class="col-lg-6"> -->
<!--           <h4>Those who made it happen</h4> -->
     
<!--           <strong>Business Owner</strong> : Brenton Pyl<br><br> -->
<!--           <strong>Backend Developer</strong> : Katherine Root<br><br> -->
<!--           <strong>Frontend Developers :</strong><br> -->
      
<!--            David Boyle<br> -->
<!--            Julius Espinosa<br><br> -->
         
<!--           <strong>SDET</strong> : Lori Johnson<br><br> -->
<!--            <strong>Database Admin</strong> : Holly Zelhart<br><br> -->
<!--             <strong>Server Admin</strong> : Paul Wroe<br> -->
          
       
<!--         </div> -->


<!--       </div> -->
<!-- </center> -->





<!-- <div><center><img src="assets/img/aboutLogo.png"  id = "aboutProjectLogo"/></center></div> -->
<!-- <div class="span-8"> -->
<!-- Is a mini library sytem. It will be used to track books and allow employees to borrow books.  -->
<!-- Simply put, its just awesome. Why? Because reading is awesome. The people behind Books are awesome. Ergo, Books project is awesome. -->
<!-- </div> -->
<!-- <div class="span-8"> -->
<!-- <div id="information"> -->
<!-- <h2 id="informationTitle">Technology Behind Books</h2> -->
<!-- For frontend tech, we used AngularJS for data manipulation and BootStrap for design and presentation. -->
<!-- Our backend is the key to the future of programming, JAVA. -->
<!-- To store our data, we used the most advanced and secured database called PostGres. -->
<!-- </div> -->
<!-- <div id="makers"> -->
<!-- <h2 class = "makers">People Behind Books</h2> -->
<!-- Business Owner : Brenton Pyl<br> -->
<!-- Backend Developer: Katherine Root<br> -->
<!-- Frontend Developers:<br> -->
<!-- Julius Espinosa<br> -->
<!-- David Boyle<br> -->
<!-- SDET: Lori Johnson<br> -->
<!-- Database Admin: Holly Zelhart<br> -->
<!-- Server Admin: Paul Wroe -->
<!-- </div> -->
<!-- </div> -->