<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<div class="span12 well">
			<img src="assets/img/aboutLogo.png"  id = "aboutProjectLogo"/>
			</div>
			<dl>
				<dt id="aboutProjectTitle">The Meal Planner</dt>
				<dd class="aboutProjectDescription">
					This application is to help its users plan their meals so that they are able to manage their intake of calories, sugar, and fat, to achieve their desired intake of protein, carbohydrates, and fiber. 
				</dd>
				<dd class="aboutProjectDescription">
				This web application uses a single page application (SPA) model, incorporating existing JavaScript frameworks designed for the purpose.
				</dd>
				
			</dl>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 bordered" id="aboutFrontTech">			
			<h4>
				Front End Technologies
			</h4>
			<dl>
				<dt>
					BootStrap CSS 
				</dt>
				<dd>
					Used for the website layout
				</dd>
				<dt>
					Angular JS
				</dt>
				<dd>
					Used for data representation
				</dd>
				<dt>
					Single Page Web Application
				</dt>
				<dd>
					 "a web application or web site that fits on a single web page with the goal of providing a more fluid user experience akin to a desktop application."
				</dd>
			
			</dl>
		</div>
		<div class="span4 bordered" id="aboutBackTech">
		<h4>
				Backend, Testing and Database Technologies
			</h4>
		<dl>
				<dt>
					Java
				</dt>
				<dd>
					Used to create backend controllers and DAOs
				</dd>
				<dt>
					PosgreSQL
				</dt>
				<dd>
					Used as the database for book records
				</dd>
				
				<dt>
					Apache Tomcat
				</dt>
				<dd>
					Used as the web application's server
				</dd>
				
				<dt>
					Selenium
				</dt>
				<dd>
					Used for web testing.
				</dd>
				
				<dt>
					JMeter
				</dt>
				<dd>
					Used for web server response testing.
				</dd>
				
				<dt>
					Jasmine and PhantomJs
				</dt>
				<dd>
Used for angular-JS testing
				</dd>
				
				<dt>
					Jenkins
				</dt>
				<dd>
Used for testing coverage monitoring.
				</dd>
				
			</dl>
			
		</div>
		<div class="span4 bordered" id="aboutCreators">
			<h4>
				The Engineers
			</h4>
			<dl>
				<dt>
					Business Owner
				</dt>
				<dd>
					Katherine Root
				</dd>
				<dt>
					The Development Team
				</dt>
				<dd>
					Katherine Root
				</dd>
				<dd>
					Julius Espinosa
				</dd>
				<dd>
					Margi Womack
				</dd>
				<dd>
					Holly Zelhart
				</dd>
				<dt>
					SDET
				</dt>
				<dd>
					Lori Johnson
				</dd>
				<dt>
					Database Administrators
				</dt>
				<dd>
					Katherine Root
				</dd>
				<dd>
					Holly Zelhart
				</dd>
			</dl>
		</div>
	</div>
</div>



