<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>No. of Titles : {{components.length}}</strong></h3>
	</div>
	<div class="panel-body panel-primary">
		<div class="container-fluid" id="browseBookTable">
			<div class="row-fluid">
				<div class="span4">
					<h4 class="text-center">
					
					<!-- left column  -->
						<strong>Item Name</strong>
						<button id="titleSorter" ng-click="sort('name')">
							<span id="sorterForTitle"
								class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
						</button>
					</h4>
				</div>
				<div class="span4">
					<h4 class="text-center">
					
					<!-- Middle column  -->
						<strong>Quantity</strong>
						<button id="publisherSorter" ng-click="sort('publisher')">
							<span id="sorterForPublisher"
								class="glyphicon glyphicon-sort-by-alphabet"></span>
						</button>
					</h4>
				</div>
				<div class="span4">
				
				<!-- right column  -->
					<h4 class="text-center"><strong>Calories</strong></h4>
				</div>
			</div>
			<div class="higlight bookRowSpacing">
					<div id="bookRow_{{$index + 1}}"
						class="row-fluid clickable" 
						ng-repeat="component in components">
			
<!-- 				<div id="bookRow_{{$index + 1}}"
						class="row-fluid clickable" 
						ng-repeat="component in components | orderBy:orderByTitle:direction"
						onclick="location.href='{{_appContext_}}/{{book.isbn13}}';"> -->
						
					<!-- left column  -->
					<div class="span4">
						<div class="bookRow">
							<div class="span12">
								<div class="bookRow">
								<!-- Book Cover Section -->
									<div class="span6 bookCover"  id="bookRow_{{$index + 1}}_browseBookCover_{{$index+1}}">
										<img ng-src="{{_appContext_}}/{{component.image}}"
											class="browseHomeCover thumbnail"/>
										</a>
									</div> 

									<div class="span6 " class="bookDetails">
										<div id="authorStyle">
										
											<!-- Book Title Section  -->
<!-- 											<span class="browseBookTitle" id="bookRow_{{$index + 1}}_browseBookTitle_{{$index+1}}">
												<strong>{{component.name}}</strong>
											</span><br>  -->
											
											<span>
												<strong>{{component.itemname}}</strong>
											</span><br> 
											
											<!-- Author List Section -->
<!-- 											<span ng-repeat="author in book.authorList | orderBy:orderByAuthorLastName"  
												  id="browseBookAuthor_{{$index+1}}">{{author.lastName}}, {author.firstName}}<br>
											</span> -->
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
					<!-- Middle column -->
	 				<div class="span4 publisher"  id="browseBookPublisher_{{$index+1}}">{{component.basequantity}}</div> 
					
					<!--Right column  -->
<!-- 					<div class="span4">
						<ul ng-repeat="tag in book.bookTagList">
						<li  class="tags btn-primary" id="browseBookTag{{$index+1}}"> {{tag.tagName}}</li>
						</ul>
					</div> -->
					
					<!-- Right column -->
	 				<div class="span4 publisher"  id="browseBookPublisher_{{$index+1}}">{{component.calories}}</div> 

				</div><!-- end of <div id="bookRow_{{$index + 1}}" on row 37 -->
<!-- 				<div class="row-fluid">
					<div class="span12">
						<div id="bottomBooksAmount"><strong>No. of Titles : {{books.length}}</strong>
						</div>
					</div>

				</div> -->
			</div>
		</div>
	</div>
</div>
