/* dragAndDrop css stylesheet */

.lvl-over {
	/* applied to a drop target when a draggable object is over it */
	border: 2px dashed black !important;
}

.lvl-target {
	/* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
	background-color: #ddd;
	opacity: .5;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor: move;
	border:1px solid black;
}

.peg {
	text-align: center;
	font-weight: bold;
	border:1px black solid;
	width: 75px;
	margin: 10px;
}

.slot {
	margin-right:2px;
	margin-top:2px;
	width:25;
	height:25px;
    display:inline-block;
    border: none;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
	color: white;
}

.grey {
	background-color: grey;
}

pre strong {
	font-size:12pt;
}

/* body {
  padding-top: 20px;
}

.books {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.books li {
  clear: both;
  height: 100px;
  padding-top: 15px;
} */
